input, button{
    width: 100%;
    border-width: 1px;
    border-radius: 0.5ch;
}

.ng-valid[required], .ng-valid.required{
    border-width: 1px;
    border-left: 5px solid #42A948; 
}
  
.ng-invalid:not(form){
    border-width: 1px;
    border-left: 5px solid #a94442; /* red */
  
}

.btn{
    margin-bottom: 2%;
}

.checkMsg{
    color:#dc3545;
}
