#updateContainer{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 40%;
    margin-left: 30%;
}

.avatar{
    width: 40%;
    margin-top: 2%;
    margin-left: 30%;
    padding: 1%;
    /* border-radius: 50%; */
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.ng-valid[required], .ng-valid.required{
    border-width: 1px;
    border-left: 5px solid #42A948; 
}
  
.ng-invalid:not(form){
    border-width: 1px;
    border-left: 5px solid #a94442; /* red */
  
}

.innerBtn{
    border: hidden;
    height: 30px;
    font-size:12px;
}

.checkMsg{
    color:red;
    font-size: 15px;
}

#curInfo{
    width: 80%;
    margin-left: 10%;
}

.btn-group{
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    
}

.linkBtn{
    float: right;
    border: hidden;
}

#messageContainer{
    width: 20%;
    margin-left: 1%;
}