<div class="myContainer" id="loginContainer">
    <h2><strong>Log in</strong></h2>
    
    <form (ngSubmit)="login()"  #loginForm="ngForm">
        <p>
            <label for="loginName">Account name</label><br>
            <input name="loginName" class="form-control" id="loginName" type="text" 
            [(ngModel)]="loggerInfo.loginName"  #loginName="ngModel"
            required>
            <span class="checkMsg" *ngIf="loginName?.invalid && (loginName?.dirty || loginName?.touched)">
                <span *ngIf="loginName?.errors?.['required']">
                    Name is required
                </span> 
            </span>
        </p>

        <p>
            <label for="loginPwd">Password</label><br>
            <input name="loginPwd" class="form-control" id="loginPwd" type="password" 
            [(ngModel)]="loggerInfo.password" #loginPwd="ngModel" required>
            <span class="checkMsg" *ngIf="loginPwd?.invalid && (loginPwd?.dirty || loginPwd?.touched)">
                <span *ngIf="loginPwd?.errors?.['required']">
                    Password is required
                </span> 
            </span>
            <span class="checkMsg" *ngIf="loggerInfo.loginMsg">
                {{loggerInfo.loginMsg}}
            </span>
        </p>

        <button type="submit" class="btn btn-outline-primary" [disabled]="!loginForm.form.valid"><i class="icon icon-unfold-bar"></i> Log in</button>
        <!-- <a class="btn btn-outline-secondary" href="https://smileychat.herokuapp.com/auth/google/"> -->
            <a class="btn btn-outline-secondary" href="http://127.0.0.1:3000/auth/google/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
              </svg> 
              Log in with Google</a>
    </form>

    <br>
    Don’t have an account? Sign up on the right  &nbsp;&gt;&gt;&gt;
</div>

<app-registeration></app-registeration>
